@{
    ViewData["Title"] = "Страница администратора";
}
<h3>Учет времени</h3>
<form method="post">
    <div class="form-inline">
        <a id="aWorkStarted" class="btn" asp-controller="Home" asp-action="WorkStarted">Приступил к работе</a>
        <a id="aWorkFinished" class="btn" asp-controller="Home" asp-action="WorkFinished">Завершил работу</a>
    </div> 
</form>